# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Ambientes virtuais
.venv/
venv/
env/

# Caches de ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editores / SO
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
